
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# venv
.venv/*
.venv/
venv/

# models-20240927
.models/*
.models/
models/

# models-20240928
.models-steam/*
.models-steam/
models-steam/